body {
    background-color: lightpink !important;
}

.container {
    background-color: lightpink;
}

.main-page {
    background-color: lightpink !important;
    background-image: url("images/elise.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin:auto;
    width: 780px;

    height: 900px;
    /* padding-top: 100% */
}

.display-3 {
    color: white;
}

.lead {
    color: rgb(250, 145, 245);
}


a {
    color: darkmagenta !important;
}

.card-body {
    color: pink;
}